[general]
state_file = /var/awslogs/state/agent-state

[/path/to/my.log]
datetime_format = %Y-%m-%d %H:%M:%S
file = /path/to/my.log
buffer_duration = 5000
log_stream_name = {hostname}
initial_position = start_of_file
log_group_name = myLogGroup
